@{ViewBag.Title = "Our Album";}
@using Microsoft.AspNet.Http;

    <!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Photo Album
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Photo Album</li>
            </ol>
            @if (Context.Session.GetString("Username") == "drewdemechko")
            {
                <div style="float:right;">
                    @Html.ActionLink("Add Photo", "AddPhoto", "Photos")
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://i447.photobucket.com/albums/qq199/thepvck_admin/Boys_zpsrh0ap2tc.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://i447.photobucket.com/albums/qq199/thepvck_admin/Familybg_zpszdkjh3sn.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://i447.photobucket.com/albums/qq199/thepvck_admin/Main_zpswjjaq2fv.png" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://i447.photobucket.com/albums/qq199/thepvck_admin/Logo_zpszyskxf22.jpg" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
        <div class="col-md-3 img-portfolio">
            <a href="portfolio-item.html">
                <img class="img-responsive img-hover" src="http://placehold.it/750x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; The PACK 2016</p>
            </div>
        </div>
    </footer>
</div>