@{ViewBag.Title = "Home";}

 <!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://wallpapercave.com/wp/tGT4B0n.jpg');"></div>
            <div class="carousel-caption">
                <h2>Don't do it alone, join the pack today.</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://vignette2.wikia.nocookie.net/wolfbrother/images/0/04/Wolf_pack.jpg/revision/latest?cb=20130515185752');"></div>
            <div class="carousel-caption">
                <h2>Surround yourself with those on the same mission as you.</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('https://secure.defenders.org/ac/img/carousel-wolf-900x500.jpg');"></div>
            <div class="carousel-caption">
                <h2>The time is now.</h2>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

    <!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="text-align:center">
                Welcome to The PACK
            </h1>
        </div>
    <p style="text-align:center">
        Are you constantly trying to master your craft or improve your body and mind?<br>
        Are there times when you feel like you might be alone when walking the path to greatness?<br>
        Do you often feel that there is more to life than earning a paycheck and being content?<br>
        You are not alone! Join the pack today and meet other highly motivated individuals from all over the world!
    </p>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; The PACK 2016</p>
            </div>
        </div>
    </footer>
</div>
