@using Microsoft.AspNet.Http;
@model IEnumerable<InspirationSite.Models.Videos>
@{ViewBag.Title = "Videos";}

<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Videos
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Videos</li>
            </ol>
            @if (Context.Session.GetString("Username") == "drewdemechko")
            {
                <div style="float:right;">
                    @Html.ActionLink("Add Video", "AddVideo", "Videos")
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
    <!-- Intro Content -->
    @foreach (var video in Model.OrderBy(video => video.DateAdded).Reverse())
    {
    <div class="row" style="text-align:center">
            <h2>@Html.DisplayFor(modelItem => video.Title)</h2>
            <div class="col-lg-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@Html.DisplayFor(modelItem => video.VideoURL)" frameborder="0" allowfullscreen></iframe>
            </div>
            @if (Context.Session.GetString("Username") == "drewdemechko")
            {
                @Html.ActionLink("Delete Video", "DeleteVideo", new { id = video.VideoId })
            }
    </div>
    <hr>
    }
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; The PACK 2016</p>
            </div>
        </div>
    </footer>
</div>
